@model ICT.MM.DAL.DB.ScenarioDevice

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Cenário Dispositivos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastMaintenanceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastMaintenanceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scenario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scenario.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Device.Description)
        </dd>
    </dl>
</div>
<div>
    @if ((User.FindFirst("Role").Value == "Admin") || (User.FindFirst("Role").Value == "Root")) {
        @Html.ActionLink("Editar", "Edit", new { idScen = Html.DisplayFor(model => model.Id_Scenario), idDevi = Html.DisplayFor(model => model.Id_Scenario)})
        <br />
    }
    <a asp-action="Index">Voltar á Lista</a>
</div>
